<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../public/css/style.css">
</head>
<body>
    <h1>Diory Pribadi Sinaga</h1>
    <img width="360ppx" height="340px" src="../public/image/car03.min.jpg" alt="">
    <div class="div">
        <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Neque corporis iste odit, eaque molestias odio, necessitatibus esse laborum libero atque cum. Numquam, sint eius! Iste, voluptatem. Commodi exercitationem quis ipsa.
        </p>
    </div>
    <img src="../public/39463907.jpg" alt="">
    <img src="../public/image/car05.min.jpg" alt="">
    <img src="../public/uploud/photo-1650694846852.jpg" alt="">
</body>
</html>