<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <style>
        html{
            overflow-x: hidden;
        }
        a{
            text-decoration: none;
        }
    </style>
    <title>Cars</title>
</head>

<body>
    <div style="height: 600px;" class="row bg-white">
        <div style="background-color: #0D28A6;" class="col-1 col-md-1 text-light">
            <div class="dashboard">
                <p><i class="bi bi-house-door-fill"></i></p>
                <b>
                    <h6 class="px-1">Dashboard</h6>
                </b>
            </div>
            <div class="cars">
                <p><i class="bi bi-house-door-fill"></i></p>
                <b>
                    <h6 class="px-1">Cars</h6>
                </b>
            </div>
        </div>
        <div class="col-5 col-md-2 bg-white">
            <div class="dashboard">
                <p><i class="bi bi-house-door-fill"></i></p>
                <b>
                    <p>CARS</p>
                </b>
            </div>
            <div class="cars">
                <p><i class="bi bi-house-door-fill"></i></p>
                <b>
                    <p>List Cars</p>
                </b>
            </div>
        </div>
        <div class="col-12 col-md-9">
            <nav class="navbar navbar-light bg-white">
                <div class="container-fluid">
                    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas"
                        data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <form class="d-flex">
                        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-primary" type="submit">Search</button>
                        <div class="profile">
                            <p class="bi bi-down"></p>
                        </div>
                        <img src="../public/diory.jpg" alt="">
                    </form> 
                    <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar"
                        aria-labelledby="offcanvasNavbarLabel">
                        <div class="offcanvas-header">
                            <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Offcanvas</h5>
                            <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas"
                                aria-label="Close"></button>
                        </div>
                        <div class="offcanvas-body">
                            <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                                <li class="nav-item">
                                    <a class="nav-link active" aria-current="page" href="#">Home</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">Link</a>
                                </li>
                        </div>
                    </div>
                </div>
            </nav>
            <main>
                <section>
                    <div class="container-fluid py-3 bg-light">
                        <p class="mt-2">
                            Cars > <a href="index.html"> List car</a> > Update Car
                        </p>

                        <h4>Update Car</h4>
                        <div class="form mb-5 pb-5 bg-light">
                            <form action="/cars/update/<%= cars?.id %> " method="post" enctype="multipart/form-data">
                                <div class="mb-3 row">
                                    <label for="inputNama" class="col-sm-2 col-form-label">Nama</label>
                                    <div class="col-sm-10">
                                        <input type="text" name="name" class="form-control" id="inputNama">
                                    </div>
                                </div>
                                <div class="mb-3 row">
                                    <label for="inputSewa" class="col-sm-2 col-form-label">Sewa Per
                                        Hari</label>
                                    <div class="col-sm-10">
                                        <input type="number" name="rentPerDay" class="form-control" id="inputSewa">
                                    </div>
                                </div>
                                <div class="mb-3 row">
                                    <label for="inputSize" class="col-sm-2 col-form-label">Ukuran</label>
                                    <div class="col-lg-10">
                                        <select name="size" class="form-select" aria-label="Default select example">
                                            <option value="small" selected>small</option>
                                            <option value="medium">medium</option>
                                            <option value="large">large</option>
                                        </select>
                                    </div>
                                </div>
                                <!-- <div class="mb-3 row">
                                    <label for="inputPhoto" class="col-sm-2 col-form-label">Photo</label>
                                    <div class="col-sm-10">
                                        <input type="text" name="photo" class="form-control" id="inputPhoto">
                                    </div>
                                </div> -->
                                <div class="mb-3 row">
                                    <label for="formFileSm" class="form-label col-lg-2">Photo</label>
                                    <div class="col-lg-10">
                                        <input class="form-control form-control-sm" id="formFileSm" type="file" name="photo">
                                    </div>
                                </div>
                                <button onclick="Update()" id="berhasil" type="submit" class="btn btn-primary">Add</button>
                            </form>
                        </div>
                    </div>
                </section>
            </main>
        </div>
    </div>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script>
        function Update() {
            swal("Berhasil di Updated!", "success");
        }
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
        integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
        integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"
    crossorigin="anonymous"></script>

</body>

</html>